<section data-ng-controller="HomeController">
<div class="container-fluid">
	<h1>PLD App</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Quick access</h2>
		</div>
		<div class="panel-body list-group">
			<a class="list-group-item" href="/#!/host">Host</a>
			<a class="list-group-item" href="/#!/join">Join</a>
			<a class="list-group-item" href="/#!/perso">Perso</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Temporary APIs</h2>
		</div>	
		<div class="panel-body list-group">
			<a class="list-group-item" href="/services/api/games">View all Games</a>
			<a class="list-group-item" href="/services/api/units">View all Units</a>
			<a class="list-group-item" href="/services/api/zones">View all Zones</a>
			<a class="list-group-item" href="/services/api/actions">View all Actions</a>
			<a class="list-group-item" href="/services/api/zoneDescs">View all ZoneDescription</a>
			<a class="list-group-item" href="/services/api/players">View all Players</a>
			<a class="list-group-item" href="/services/api/cleanAll">Clean the entire database (Attention)</a>
		</div>
	</div>
</div>
</section>
