<section data-ng-controller="HomeController">
<div class="container-fluid">
	<h1>PLD App</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Accès rapide</h2>
		</div>
		<div class="panel-body list-group">
			<a class="list-group-item" href="/#!/host">Créer une partie</a>
			<a class="list-group-item" href="/#!/join">Rejoindre une partie</a>
			<a class="list-group-item" href="/#!/perso">Tes parties</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">APIs temporaires</h2>
		</div>	
		<div class="panel-body list-group">
			<a class="list-group-item" href="/services/api/games">Voir toutes les parties</a>
			<a class="list-group-item" href="/services/api/units">Voir toutes les unités</a>
			<a class="list-group-item" href="/services/api/zones">Voir toutes les zones</a>
			<a class="list-group-item" href="/services/api/actions">Voir toutes les actions</a>
			<a class="list-group-item" href="/services/api/zoneDescs">Voir toutes les ZoneDescription</a>
			<a class="list-group-item" href="/services/api/players">Voir tous les joueurs</a>
			<a class="list-group-item" href="/services/api/cleanAll">Vider toute la base de données (Attention)</a>
		</div>
	</div>
</div>
</section>
