<section data-ng-controller="HomeController">
	<h1>PLD App</h1>
	<h2>Quick access</h2>
	<p>
		<a href="/#!/host">Host</a><br />
		<a href="/#!/join">Join</a><br />
		<a href="/#!/perso">Perso</a><br />
	</p>
	<h2>Temporary APIs</h2>
	<p>
		<a href="/services/api/games">View all Games</a><br />
		<a href="/services/api/units">View all Units</a><br />
		<a href="/services/api/zones">View all Zones</a><br />
		<a href="/services/api/actions">View all Actions</a><br />
		<a href="/services/api/travelTime">View all Travel Times</a><br />
		<a href="/services/api/zoneDescs">View all ZoneDescription</a><br /><br />
		<a href="/services/api/players">View all Players</a><br /><br />
		<a href="/services/api/cleanAll">Clean the entire database (Attention)</a><br />
		<a href="/services/api/cleanZoneDesc">Clean all ZoneDesc (Attention)</a><br />

	</p>
</section>
