<section class="rulesSection" data-ng-controller="rulesController">
	<div  class="rulesSection  container-fluid">
		<h1>Rules</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Core rules</h2>
			</div>
			<ul>
	  			<li>3 to 6 players wants to conquer Lyon.</li>
	  			<li>They have 1 week to show their power.</li>
	  			<li>The winner is the one with more points at the end. </li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Actions</h2>
			</div>
			<ul>
	  			<li>Units can travel by car, metro, bike or walking.</li>
	  			<li>A player can attack a border zone with a chosen number of units.</li>
	  			<li>An attack requires travel and at least one unit must stay in the departure zone.</li>
	  			<li>Units can be bought and sold using the local money : the Gonette.</li>
	  			<li>A unit can be put in regeneration mode. In this mode, it can't attack but it can still defend.</li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Attacks</h2>
			</div>
			<ul>
	  			<li>The winner is set depending on the number and the abilities of the fighting units.</li>
	  			<li>The winner becomes the zone's master and gain 1 point for its victory as well as 10 Gonettes.</li>
	  			<li>The loser looses all its special units that fought.</li>
	  			<li>The loser keeps half of its fighting Lyonnais and and allocates them to other zones.</li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Points</h2>
			</div>
			<ul>
	  			<li>A victory gives 1 point.</li>
	  			<li>Each zone under control at the end gives 1 point.</li>
	  			<li>A bonus of 15 points is gained when a goal is reached.</li>
	  			<li>Another bonus of 15 points is gained if the goal is still achieved at the end. </li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Units</h2>
			</div>
			<ul>
	  			<li>Bikers : biking really fast !</li>
				<li>Students : powerful but can't travel by day (in class) nor thursday nights (partying).</li>
				<li>Hippies : don't pay tax to malls, got higher defense in parks. </li>
				<li>Joggers : walking really fast !</li>
				<li>Doctors : very good in defense and can heal.</li>
				<li>Preasts : can convert one adverse unit during attack.</li>
				<li>Scientists : really smart during fights ! </li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Money</h2>
			</div>
			<ul>
	  			<li>Banks create 2 Gonettes each 6th hour.</li>
	  			<li>Malls tax 2 Gonnette from each border zone each 6th hour.</li>
	  			<li>A victory gives 10 Gonettes.</li>
	  			<li>A defeat gives 5 Gonettes. </li>
	  			<li>Each type of unit has a price in Gonettes.</li>
			</ul>
		</div>
		
		</div>
	</div>
</section>
