.scoreBoardSection{
	background: black;
	color: black;
	th, td, h2{
		text-align:center;
	}
	li.ng-isolate-scope:not(.active):hover{
		cursor:pointer;
	}
	li.ng-isolate-scope>a{
		color:black;
	}
	li.ng-isolate-scope.active>a, li.ng-isolate-scope:hover>a{
		font-weight: bold;
		color:black;
	}
	#score-board-main {
		background-color:white;
	}
}
