<section class="createGameSection" data-ng-controller="CreateGameController">

<br/>
<h1 class="title">Create a new game</h1>

<div class="form">

<form name="myForm" class="createGameForm" novalidate>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Party Name</span>
		<input type="text" class="form-control" placeholder="New Game" aria-describedby="basic-addon1" ng-model="newGame.title" required>
	</div>
	
	<br/>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Choose the day of your fight !</span>
		<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDay" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
		<span class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</div>

	<br/>

	<div class="input-group">
	<span class="input-group-addon" id="basic-addon1">Starting time :</span>
	<select ng-model="startTime" class="form-control">
		<option ng-repeat="hour in hours">{{hour.num}}</option>
	</select>
	<br />
	<span ng-show="errDate">Starting hour is too early</span>
	</div>

	<br/>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Minimum number of players :</span>
		<select ng-model="newGame.nMinPlayer" class="form-control">
			<option value="2"> 2 </option>
			<option ng-repeat="i in [3,4,5,6,7,8]" ng-show="newGame.nMaxPlayer >= i" value="{{i}}"> {{i}} </option>
		</select><br />
	</div>

	<br/>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Maximum number of players :</span>
			<select ng-model="newGame.nMaxPlayer" class="form-control">
				<option ng-repeat="i in [2,3,4,5,6,7]" ng-show="newGame.nMinPlayer <= i" value="{{i}}"> {{i}} </option>
				<option value="8"> 8 </option>
			</select><br />
	</div>
	
	<br/>
	<button id="btnHosting" type="submit" class="btn btn-default" ng-disabled="myForm.$invalid" ng-click="createGame()"> Host your party ! </button>
	<br/>
	<br/>
	
	<div id="confirmationOfHosting" ng-if="partyNotHost"> We fail to host your game !</div>

	<div id="warning" ng-if="b_lastGameHasSameName">
		You created two games in a row with the name "{{lastTitleGame}}" but...
	</div> 

	<div id="textSuccess" ng-if="partyHost && !b_lastGameHasSameName"> 
		Your game "{{lastTitleGame}}" has been succesfully hosted !
	</div> 

	<br/>
	<div id="textSuccess" ng-if="partyHost"> 
	You can <span ng-if="b_lastGameHasSameName"> still </span> <a class="internsLinks" href="/#!/host"> create an other games</a>, 
	<a class="internsLinks" href="/#!/perso">join your games</a> or <a class="internsLinks" href="/#!/join"> join other games</a>. </div>
	</div>

</form>

</div>
</section>
