
<section>
	<div class="scoreBoardSection" ng-controller="ScoreBoardController">
		<div id="score-board-main">
			<div class="container">		
				<h2 class="title_score">{{scoreBoard.game.title}} - ScoreBoard</h2>
				<tabset justified="true" class="contentScoreBoard">
				  	<tab heading="Classement">
				    	<table class="table table-bordered">
						    <thead>
						      <tr>
						        <th>Rang</th>
						        <th>Pseudo</th>
						        <th>Gonettes</th>
						        <th>Points</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="player in scoreBoard.players">
						        <td>{{$index + 1}}</td>
						        <td>{{player.name}}</td>
						        <td>{{player.money}}</td>
						        <td>{{player.point}}</td>
						      </tr>
						    </tbody>
				  		</table>
				    </tab>
				<!--
				    <tab heading="Kills">Coming soon...</tab>
				    <tab heading="Survivors">Coming soon...</tab>
				    <tab heading="Zones">Coming soon...</tab>
				    <tab heading="Objectives">Coming soon...</tab>
				-->
				</tabset>
			</div>
		</div>
	</div>
</section>
