.createGameSection{
	background: #FEE;

	.nestedClass{
		background:#F00;
	}
}

#confirmationOfHosting{
	color: red;
}

.internsLinks{
	color : red;
	font-weight: bold;
}

.internsLinks:hover, .internsLinks:focus {
  	text-decoration: none;
}
