<section>
	<div class="playSection">
		<div class="container-fluid">
			<div id="game-wrap-panels" class="row">
				<div ng-if="startError" class="alert alert-danger topAlert" style="margin-bottom:1px">
					Erreur : impossible de lancer la partie
				</div>
				<div ng-if="moveError" class="alert alert-danger topAlert" style="margin-bottom:1px">
					Erreur : impossible d'effectuer le déplacement
				</div>
				<div ng-if="sellError" class="alert alert-danger topAlert" style="margin-bottom:1px">
					Erreur : impossible d'effectuer la vente
				</div>
				<div ng-if="buyError" class="alert alert-danger topAlert" style="margin-bottom:1px">
					Erreur : impossible d'effectuer l'achat
				</div>

				<accordion id="game-left-panel" class="col-md-3 game-panel nopadding" ng-if="game" close-others="true">

					<accordion-group heading="Informations générales" class="accordion-item" initially-open="true">
						{{game.title}}
					</accordion-group>
					<accordion-group heading="Joueurs" class="accordion-item">
				
					</accordion-group>
					<accordion-group heading="Information Zone sélectionnée" class="accordion-item">

						<div class="col-md-12 separator"></div>
						<div class="col-md-12 center-content">
							<label ng-repeat="p in game.players">{{p.money}} Gonettes</label>
						</div>
						<div class="col-md-12 separator"></div>
						<div class="col-md-12 center-content">
							<label>Nouvelles unités dans {{remaining}}</label>
						</div>
						<div class="col-md-12 separator"></div>
						<div class="col-md-12 center-content" >
							<label>Points {{player.point}}</label>
						</div>

						<hr />

						<div ng-if="selectedZone" class="center-content">
							<h2>{{game.zonesDesc[game.zones[selectedZone._id].zoneDesc].name}}</h2>
							<h3 ng-if="game.zones[selectedZone._id].owner">Possédée par {{game.players[game.zones[selectedZone._id].owner].name}}</h3>
							<div class="row">
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 {{(mode==='displacement') ? 'show' : 'hide'}}">
								<label>Déplacement vers : {{game.zonesDesc[disp.zone.zoneDesc].name}}</label>
								<button class="btn btn-primary pull-right"  ng-click="validateDisplacement()">Déplacer</button>
								<button class="btn btn-primary btn-danger pull-right" ng-click="cancelDisplacement()">Annuler</button>
							</div>
						</div>

						<div class="row" ng-if="listUnitType">
							<div class="col-md-12 center-content">
								<div class="col-md-3">
									<span>Icone</span>
								</div>
								<div class="col-md-3">
									<span>Nombre</span>
								</div>
								<div class="col-md-3">
									<span>Achat/Vente</span>
								</div>
								<div class="col-md-3">
									<span>Déplacement</span>
								</div>
							</div>
							<div id="list-unit" ng-repeat="i in game.matrixes.UnitData.content">
								<div class="col-md-12 row-unit {{(disp.unitTypes[i.type] > 0) ? 'select-to-displace' : ''}}">
									<div class="col-md-3 nopadding center-content">
										<i class="unit-icon {{iconByUnitType[i.type]}}" data-drag="true" data-unit-type="{{i.type}}" data-jqyoui-options="{revert: 'invalid', revertDuration: 100,appendTo: 'body', containment: 'window', scroll: false, helper: 'clone'}" jqyoui-draggable="{animate:true,onStart:'onUnitIconDrag', onStop:'onUnitIconDrop'}" style="height:74px; width:74px;"/>
									</div>
									<div id="row-unit-name" class="col-md-3 nopadding center-content">
										<span>{{i.name}}</span>
										<br/>
										<span>{{unitsByTypeForZone[i.type].length}}</span>
									</div>
									<div id="row-unit-actions" class="col-md-3 nopadding center-content">
										<button class="btn btn-primary btn-success" ng-if="game.zones[selectedZone._id].units.length < maxUnitPerZone && game.zones[selectedZone._id].owner === player._id" ng-click="buyUnit(i.type)">+</button>
										<button ng-if="unitsByTypeForZone[i.type].length > 0" class="btn btn-primary btn-danger" ng-click="sell(unitsByTypeForZone[i.type][0]._id, i.type)">-</button>
									</div>
									<div class="col-md-3 nopadding full-height center-content">
										<div class="row-unit-displacement full-height {{(disp.unitTypes[i.type] > 0) ? 'row-unit-disp-selected' : 'row-unit-disp-not-selected'}}">
											<div>
												<a href="">
												  <span class="glyphicon glyphicon-triangle-top" ng-click="plusUnitToDisplace(i.type)"></span>
												</a>
										   	</div>
										   	<div>
												<span>{{disp.unitTypes[i.type]}}<span>
											</div>
											<div>
												<a href="">
													<span class="glyphicon glyphicon-triangle-bottom" ng-click="lessUnitToDisplace(i.type)"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 row-unit-separator">
								</div>
							</div>
						</div>

						<div ng-if="mode==='displacement'">
							<h2>Displacement</h2>
								<h3>Add units</h3>
								<p>Units on this zone are</p>
								<p ng-repeat="i in selectedZone.units">{{i._id}} <button class="btn btn-primary" ng-click="addUnitToDisp(i._id)">Add2Disp</button></p>
							<div ng-if="disp.step>0">
								<h3>Choose a zone</h3>
								Click on a zone you want to move to : {{game.zonesDesc[game.zones[disp.zoneBId].zoneDesc].name}}
							</div>
							<div ng-if="disp.step>1">
								<h3>Validate displacement</h3>
								Are you sure you want to move {{disp.unitIds.length}} to {{game.zonesDesc[game.zones[disp.zoneBId].zoneDesc].name}} ? <br />
								<button class="btn btn-primary" ng-click="validateDisp()">Validate</button> <button class="btn btn-danger" ng-click="resetMode()">Cancel</button>
							</div>
						</div>
					</accordion-group>
				</accordion>
				<div id="game-main-panel" class="col-md-9 game-panel">
				</div>
			</div>
		</div>
		<div ng-if="game.winner" class="overallWinner">
			<div class="winnerDisplay">
			    <h2>{{game.players[game.winner].name}} remporte la partie</h2>
			    <p>{{game.players[game.winner].name}} remporte cette partie. Vous pouvez <a href="/#!/">revenir à l'accueil</a>, <a href="/#!/host">créer une autre partie</a> ou encore <a href="/#!/scoreBoard/{{game._id}}">accéder au leaderboard de la partie</a></p>
			</div>
		</div>
	</div>
</section>
