.playSection{
	
	$winnerOverlayWidth:40%;
	$winnerOverlayHeight:40%;

	background: #FEE;
	height: calc(100% - #{$top-margin} );
	
	.nestedClass{
		background:#F00;
	}

	.zoneBox{
		height:100px;
		width:100px;
		background-color:#FEE;
		border: solid;
		border-color: green;
		display:inline-block;
		vertical-align:top;
	}

	#game-wrap-panels {
		background-color: #ecf0f1;
		border-bottom: 4px;
		border-bottom-color: #3C3C3C;
		border-bottom-style: solid;
	}

	.game-panel {
		height:100%;
	}

	#game-left-panel {
		background-color: #ecf0f1;
	}

	#game-main-panel {

	}

	#game-left-panel hr {
		border-color:#3C3C3C;
	}

	.nopadding {
   		padding: 0;// !important;
   		margin: 0;// !important;
	}

	.separator {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.center-content {
		text-align: center;
	}

	.unit-icon {
		margin-top:3px;
		margin-bottom:3px;
	}

	.row-unit {
		background-color: rgba(41, 128, 185, 0.1);
	}

	.row-unit-separator {
		height:2px;
		background-color:#3C3C3C;
	}

	#row-unit-number-label {
		height:50%;
		margin-top: 13px;
		text-align:center;
	}

	#row-unit-name {
		margin-top: 15px;
	}

	#row-unit-actions {
		margin-top: 27px;
	}

	.full-width {
		width: 100%;
	}

	.full-height {
		height: calc(100% - #{$top-margin} );
	}

	#row-unit-number {
		height:50%;
		text-align:center;
	}

	.select-to-displace {
		background-color: #3498db;
	}

	.row-unit-disp-selected {
		
	}

	.row-unit-disp-not-selected {
		display: none;
	}

	.overallWinner{
		background: rgba(0,0,0,0.5);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}

	.winnerDisplay{
		background:#FFF;
		width:$winnerOverlayWidth;
		height:$winnerOverlayHeight;
		padding:50px;
		margin:0 auto;
		position:relative;
		top:calc( ( 100% - #{$winnerOverlayHeight} ) / 2 - #{$top-margin});
	}
	.row-unit-displacement {
		margin-top: 10px;
	}
	/* useless row-unit-number-label; row-unit-number; */

	.accordion-item{
		margin-top: 0px;
	}

}
