<section class="waitingRoomSection" data-ng-controller="WaitingRoomController">
	<div  class="waitingRoomSection">
<h1>Join a game</h1>
<p>
Here's a list of games you can join :
</p>
<p ng-if="!listAvailable">The list is loading. Please wait...</p>
<game-box ng-if="listAvailable.length == 0">There are no games available. You can <a href="#!/host">host one</a> and wait for other players to come!</game-box>
<game-box ng-repeat="data in listAvailable" data="data" join="true"></game-box>
</div>
<span ng-click="testDisp()">CLICK ME</span>
</section>
