<section class="waitingRoomSection" data-ng-controller="WaitingRoomController">
	<div  class="waitingRoomSection container-fluid">
		<h1>Rejoindre une partie</h1>
		<p>Voici les parties que tu peux rejoindre : </p>
		<p ng-if="!listAvailable">La liste est en train de charger. Un peu de patience...</p>
		<game-box ng-if="listAvailable.length == 0">Il n'y a aucune partie disponible. Tu peux <a href="#!/host">en créer une</a> et attendre que d'autres joueurs te rejoignent !</game-box>
		<game-box ng-repeat="data in listAvailable" data="data" join="true" user="authentication.user"></game-box>
	</div>
</section>
